@model IEnumerable<MVC.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Book Management</h2>
<hr/>
<a class="btn btn-success" style="margin-bottom:10px" href="@Url.Action("Create","Books")"><i class="fa fa-plus"></i> Add New</a>
<table id="table_id">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                Image
            </th>
            <th>
                Price
            </th>
            <th>
                Description
            </th>
            <th>
                Catagory
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    <img src="@Url.Content(@item.Image)" height="100" width="100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookCategory.catName)
                </td>
                <td width="300">
                    @Html.ActionLink("Edit", "Edit", new { id = item.ISBN }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Details", "Details", new { id = item.ISBN }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ISBN }, new { onclick = "return confirm('Are you sure you wish to delete this record?')", @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>


